### IntelliJ IDEA ###
.idea
out
*.iws
*.iml
*.ipr

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
